*{
    font-family:"Trebuchet MS";
	font-size: 12px;
}
div{
	font-size:small;
}
table{
	font-size:small;
}
html body {
}
#container {
}
#container a {
    text-decoration: none;
}
#menu {
    margin: 10px;
    padding-left: 10px;
    border-bottom: medium solid #D12EA3;
	padding-bottom:7px;
}
#menu a {
    text-decoration: none;
}
#content {
    margin-left: 10px;
}

.border_set{
	border: 1px solid #666666;
}
.back_color{
	border: 1px solid #666666;
	background-color: yellow;
}
.back_color_1{
	border: 1px solid #666666;
	background-color: orange;
}
